page {
  background-color: #f7f8fa;
}

.demo-block {
  width: 100%;
}

.demo-block__title {
  display: inline-block;
  padding: 28px 14px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: rgba(69, 90, 100, 0.6);

  &:first-child {
    padding-top: 16px;
  }
}

.demo-block__content {
  padding-left: 14px;
  padding-right: 14px;
}

.demo-block--button {
  .van-button {
    margin-right: 8px;
    margin-bottom: 14px;
  }
}

.demo-block--icon {
  /* Icon Component */
  .van-icon {
    display: inline-block;
    margin-left: 8px;
    color: #323233;

    &:first-child {
      margin-left: 0;
    }
  }
}

.demo-block--image {
  .van-image {
    margin-right: 12px;
    margin-bottom: 16px;
  }
}

.demo-block--loading {
  /* Loading Component*/
  .van-loading {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.demo-block--tag {
  /* Tag Component */
  .van-tag + .van-tag {
    margin-left: 10px;
  }
}

.demo-block--progress {
  .van-progress + .van-progress {
    margin-top: 24px;
  }
}

.demo-block--panel {
  .van-panel__content {
    padding: 20px;
  }

  .van-panel__footer {
    text-align: right;
  }

  .van-button + .van-button {
    margin-left: 10px;
  }
}

.demo-block--layout {
  /* Layout content*/
  .van-col {
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    background-clip: content-box;

    &:nth-child(even) {
      background-color: #66c6f2;
    }

    &:nth-child(odd) {
      background-color: #39a9ed;
    }
  }
}

.demo-block__goods-action {
  position: static !important;
}

.demo-block__submit-bar {
  position: static !important;
}

.demo-block__tabbar {
  position: static !important;
}
