.demo-block {
  display: block;
}

.demo-block__title {
  display: inline-block;
  padding: 28px 14px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: rgba(69, 90, 100, 0.6);

  &:first-child {
    padding-top: 16px;
  }
}

.demo-block__content {
  padding-left: 14px;
}

.demo-block {
.demo-block--button {
  .van-button {
    margin-right: 8px;
    margin-bottom: 14px;
  }
}

  width: 100%;

  /* Icon Component */
  .van-icon {
    display: inline-block;
    margin-left: 8px;
    color: #323233;

    &:first-child {
      margin-left: 0;
    }
  }

  /* Loading Component*/
  .van-loading {
    margin-left: 12px;
    margin-right: 12px;
  }
  /* Tag Component */
  .van-tag + .van-tag {
    margin-left: 10px;
  }
  /* Layout content*/
  .van-col {
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    background-clip: content-box;

    &:nth-child(even) {
      background-color: #66c6f2;
    }

    &:nth-child(odd) {
      background-color: #39a9ed;
    }
  }
}
